@page "/editar-transacao/{id}"

@using Neptune.Web.Data

@inject NavigationManager UriHelper
@inject PagesService TransacaoService

<h1>Editar Transação</h1>

<EditForm Model="@transacao" OnValidSubmit="@Editar">
    <InputDate @bind-Value="@transacao.Data" />
    <InputText @bind-Value="@transacao.Descricao" />
    <InputNumber @bind-Value="@transacao.Valor" />
    <button class="btn btn-primary" type="submit">Salvar</button>
</EditForm>

@code {
    [Parameter]
    public String id { get; set; }

    Transacao transacao = null;

    protected override async Task OnInitializedAsync()
    {
        await TransacaoService.ObterTransacao(Convert.ToInt32(id));
    }

    private async Task Editar()
    {
        await TransacaoService.EditarTransacao(Convert.ToInt32(id), transacao);
        UriHelper.NavigateTo("/");
    }
}