@page "/"

@using Neptune.Models

@inject NavigationManager UriHelper
@inject ITransacaoService TransacaoService

<h1>Transações</h1>

<button class="btn btn-primary" @onclick="@NovaTransacao">Nova Transação</button>

@if (novaTransacaoVisivel)
{
<EditForm Model="@novaTransacaoViewModel" OnValidSubmit="@Nova">
    <InputDate @bind-Value="@novaTransacaoViewModel.Data"  />
    <InputText @bind-Value="@novaTransacaoViewModel.Descricao" placeholder="Descrição da transação" />
    <InputNumber @bind-Value="@novaTransacaoViewModel.Valor" placeholder="Valor" />
    <InputNumber @bind-Value="@novaTransacaoViewModel.ContaId" placeholder="ContaId" />
    <button class="btn btn-primary" type="submit">Salvar</button>
</EditForm>
}

@if (_transacoesViewModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3" style="text-align: right;">Saldo no dia @_transacoesViewModel.UltimoDiaMesAnterior - @_transacoesViewModel.SaldoUltimoDiaMesAnterior</th>
            </tr>
            @foreach (var dia in _transacoesViewModel.Dias)
            {
                <TransacoesDiaComp dia="@dia" />
            }
        </tbody>
    </table>
}

@code {
    TransacoesViewModel _transacoesViewModel { get; set; }
    NovaTransacaoViewModel novaTransacaoViewModel = new();
    bool novaTransacaoVisivel = false;

    protected override async Task OnInitializedAsync()
    {
        _transacoesViewModel = await TransacaoService.ObterTransacoesViewModel(DateTime.Now);
    }

    private void NovaTransacao()
    {
        novaTransacaoViewModel = new();
        novaTransacaoVisivel = true;
    }

    private async Task Nova()
    {
        var novaTransacaoPersistida = await TransacaoService.NovaTransacao(novaTransacaoViewModel);
        _transacoesViewModel.AdicionarTransacao(novaTransacaoPersistida);
        novaTransacaoVisivel = false;
    }
}
