<tr>
    <td colspan="6">@dia.Data.ToString("dd/MM/yyyy")</td>
</tr>
@foreach(TransacaoViewModel transacao in dia.Transacoes)
{
<tr style="background-color: #EFEEEE">
    <td>@transacao.Id</td>
    <td>@transacao.Descricao</td>
    <td>Lorem Ipsum</td>
    <td>@transacao.Valor</td>
    <td>@transacao.ContaId</td>
    <td><a href="/editar-transacao/@transacao.Id">Editar</a></td>
</tr>
}
<tr>
    <td colspan="6" style="text-align: right;">Saldo do dia: @dia.ObterSaldoDoDia()</td>
</tr>

@code {
    [Parameter] public DiaViewModel dia { get; set; }
}
